.page{
	background-image: linear-gradient(
		157deg,
		#ffffff 37%,
		#c3d2e8 69%,
		#a2b9e0 81%,
		#8a9fd8 88%,
		#6f8fc6 92%,
		#4f77b2 95%,
		#2f5c9e 97%,
		#1b6db9 100%
	);
	height: 100vh;
}
.wrapper {
	padding-top: 89px;
	padding-bottom: 154px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 400px;
	margin: 0 auto;
}
.title{
	font-weight: 700px;
	font-size: 40px;
	font-weight: 300px;
}
.icons_wrapper{
	display: flex;
	gap: 25px;
}
.inputs{
	display: flex;
	flex-direction: column;
	gap: 28px;
}
.btn{
	width: 239px;
	background-color: #1b6db9;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 30px;
	height: 42px;
	cursor: pointer;
}
.loader{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 11;
}